/* Write your CSS code here */
.cryptocurrenciesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.heading {
  text-align: center;
  color: #00e7ff;
}
.cryptocurrencyImg {
  width: 330px;
}
.cryptocurrenciesListContainer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 4px solid #00e7ff;
}
.listHeader {
  display: flex;
  justify-content: space-between;
  background-color: #092e33;
}
.listCoinTypeHeading {
  color: white;
}
.listCoinValueHeading {
  color: white;
}
.cryptocurrenciesList {
  padding-left: 20px;
  padding-right: 20px;
}
